.background {
    -fx-background-color: lightgrey;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #aaa;
    -fx-border-width: 1 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab {
    -fx-background-color: #ccc;
    -fx-border-color: #aaa;
    -fx-border-width: 1;
}
.tab:selected {
    -fx-background-color: #f4f4f4;
    -fx-background-insets: -10 -10;
    -fx-border-color: #aaa;
    -fx-border-width: 0 1 0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #aaa;
    -fx-border-width: 0;
}

.tab-down-button {
    -fx-background-color: transparent;
    -fx-padding: 0 7 5 5;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.40em;
    -fx-background-color: limegreen;
}

.deviceButton {
    -fx-font: 14px "Sans";
    -fx-background-color: linear-gradient(#eee, #e2e2e2);
    -fx-border-color: #bbb;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.deviceButton:hover {
    -fx-background-color: linear-gradient(#f2f2f2, #f2f2f2);
}

.deviceButton:pressed {
    -fx-background-color: linear-gradient(#ccc, #ddd);
    -fx-border-color: dodgerblue;
}


.choice-box {
    -fx-background-color: linear-gradient(#eee, #e2e2e2);
    -fx-border-color: #bbb;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.choice-box:hover {
    -fx-background-color: linear-gradient(#f2f2f2, #f2f2f2);
}

.choice-box:pressed {
    -fx-background-color: linear-gradient(#ccc, #ddd);
}
.choice-box:focused {
    -fx-background-color: linear-gradient(#ccc, #ddd);
    -fx-border-color: dodgerblue;
}


.menu-bar {
    -fx-background-color: linear-gradient(#f2f2f2, #eee);
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1;
}

.titled-pane > .title {
    -fx-font-weight: normal;
    -fx-background-color: linear-gradient(#eaeaea, #e0e0e0);
}

.bt-bg {
    -fx-background-color: linear-gradient(#f2f2f2, #eee);
}
.status {
    -fx-background-color: linear-gradient(#f2f2f2, #eee);
}







